<!DOCTYPE html>

	<head>
		<title>Home | Interrupt '19</title>
		<meta charset="UTF-8">
		<meta name="description" content="Official Website for SVCE's Interrupt 2k19!">
		<meta name="keywords" content="svce,symposium,cse,interrupt,2019,2k19">
		<meta name="author" content="Arjun Aravind">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/styles/css/home/home.css" rel="stylesheet">
		<link href="/styles/css/home/mobile-home.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="icon" href="/resources/images/favicon.png">
		<link rel="apple-touch-icon" href="/resources/images/favicon.png">
	</head>

	<body>

		<div class="tilt-screen">
			<p><i class="material-icons" style="font-size: 75px;">stay_primary_landscape</i><br>This website is best viewed in landscape mode! Please tilt your phone!</p>
		</div>

		<div class="game-elements">
				<div class="score"><p class="title">HIGH SCORE</p></div>
				{{#if isAuthenticated}}
					<div class="hearts hearts-title"><p>Player : {{studentName}}</p></div>
				{{else}}
					<div class="hearts hearts-title"><p>LIVES REMAINING</p></div>
				{{/if}}
		</div>

		<div class="game-elements">
			<div class="score score-number"><p class="number">250,919</p></div>
			<div class="hearts"><img src="/resources/images/home/hearthalfreverse.png" class="half" id="reverse"><img src="/resources/images/home/hearthalf.png" class="half"><img src="/resources/images/home/heart.png"><img src="/resources/images/home/heart.png"></div>
		</div>

		<div class="header">
			{{#if message}}
				<header id="header">{{message}}</header>
			{{else}}
				<header id="header">Interrupt 2k19</header>
			{{/if}}
			<p>Interrupt is a National-Level Technical Symposium conducted by the students of the Computer Science department of Sri Venkateswara College of Engineering. It is a place where engineers showcase their talent and ideas in a plethora of events across various domains of the computer world. Now in its 28th year, Interrupt is back and it's bigger and better than ever!</p>
			<p class="additional-info"><span>Venue:</span> Sri Venkateswara College of Engineering</p>
			<p class="additional-info"><span>Date:</span> 9AM - 3PM, 25th September, 2019</p>
		</div>

		<div class="links">
			<i class="material-icons" id="m1">play_arrow</i><a href="/events" id="a1">Events</a>
		</div>
		<div class="links">
		    {{#if isAuthenticated}}
			<i class="material-icons" id="m2">play_arrow</i><a href="/register" id="a2">Register For Events</a>
		    {{else}}
			<i class="material-icons" id="m2">play_arrow</i><a href="/login" id="a2">Login</a>
		    {{/if}}
		</div>
		<div class="links">
			<i class="material-icons" id="m3">play_arrow</i><a href="https://www.svce.ac.in/departments/transport/routes.php#nav" id="a3">Transport</a>
		</div>
		<div class="links">
			<i class="material-icons" id="m4">play_arrow</i><a href="/team" id="a4">Sponsors & Team</a>
		</div>

		<a href="http://arjunaravind.in" hidden>Arjun Aravind</a>
		<a href="http://aravindbalakrishnan.in" hidden>Aravind Balakrishnan</a>
		<a href="https://linkedin.com/in/shravan-dheep-539798142" hidden>Shravan Dheep</a>

	</body>
	<script src="/scripts/hover.js"></script>

</html>
