<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        label {
            padding: 10px;
        }
        input {
            margin: 5px;
        }
    </style>
</head>

<body>

    <form action="/register" method="POST">
        <label for="name">Name</label>
            <input  type="text" 
                    id="name" 
                    name="student[name]"
                    {{#if name}}
                        value="{{name}}"
                    {{/if}}
            >
            <br>
        <label for="email">Email</label>
            <input  type="email" 
                    id="email" 
                    name="student[email]" 
                    {{#if email}}
                        value="{{email}}"
                    {{/if}}
            >
            <br>
        <label for="number">Number</label>
            <input  type="number" 
                    id="number" 
                    name="student[number]"
                    {{#if number}}
                        value="{{number}}"
                    {{/if}}            
            >
                    <br>
        <label for="password">Password</label>
            <input  type="password" 
                    id="Password" 
                    name="student[password]"
                    {{#if password}}
                        value="{{password}}"
                    {{/if}}
            >
            <br>
        <label for="college">College</label>
            <input  type="text" 
                    id="college" 
                    name="student[college]"
                    {{#if college}}
                        value="{{college}}"
                    {{/if}}
            >
            <br>

        <label for="year">Year</label>
            <input  type="number" 
                    id="year" 
                    name="student[year]"
                    {{#if year}}
                        value="{{year}}"
                    {{/if   }}
            >
            <br>
        <button>Submit</button>
    </form>

    <script>

        document.querySelector('button').addEventListener("click",(event) => {
            event.preventDefault();

            inputTags = document.querySelectorAll('input');

            var vacant = false;

            inputTags.forEach((doc) => {
                if(doc.value==="") vacant=true; 
            });

            if(!vacant) {
                document.querySelector('form').submit();

                
            }


        });
    </script>

</body>
</html>