<!DOCTYPE html>

	<head>
		<title>Register | Interrupt '19</title>
		<meta charset="UTF-8">
		<meta name="description" content="Official Website for SVCE's Interrupt 2k19!">
		<meta name="keywords" content="svce,symposium,cse,interrupt,2019,2k19">
		<meta name="author" content="Arjun Aravind">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/styles/css/registration/register.css" rel="stylesheet">
		<link href="/styles/css/registration/mobile-register.css" rel="stylesheet">
	</head>

	<body>

		<div class="tilt-screen">
			<p><i class="material-icons" style="font-size: 75px;">stay_primary_landscape</i><br>This website is best viewed in landscape mode! Please tilt your phone!</p>
		</div>

		<h2>Registration</h2>

		<form action="/register" method="POST" id="flappy">

			{{#unless isAuthenticated}}
				{{> new_reg}}
			{{/unless}}
		</form>

		<form action="/events/add" method="POST" id="subway">
			{{#if isAuthenticated}}
				{{> event_reg}}
			{{/if}}
		</form>




		<script>

			{{#unless isAuthenticated}}
			document.querySelector('#register').addEventListener("click",(event) => {
				event.preventDefault();

				inputTags = document.querySelectorAll('input');

				var vacant = false;

				inputTags.forEach((doc) => {
					if(doc.value==="") vacant=true; 
				});

				if(!vacant) {
					document.querySelector('#flappy').submit();

				}

			});
			{{/unless}}

			{{#if isAuthenticated}}
			document.querySelector('#add').addEventListener("click",(event) => {

				var eventList = document.querySelectorAll('.event');


				eventList.forEach((name) => {
					//if(name.classList.toggle('selected')) 
				});

				if(false) {
					document.querySelector('#flappy').submit();

				}
			

			});
			{{/if}}

			console.log("sadasd");
			/***********/
			/* FORM.JS */
			/***********/

			/* This file takes in all the values of the form and then submits it. */

			var homeUrl = ""; //The URL of the page which the user is then redirected to.

			{{#if event1}} var event1 = 1; document.getElementById("event1").style.backgroundColor = "yellow"; document.getElementById("event1").style.color="purple"; {{else}} var event1 = 0;{{/if}}
			{{#if event2}} var event2 = 1; document.getElementById("event2").style.backgroundColor = "yellow"; document.getElementById("event2").style.color="purple"; {{else}} var event2 = 0;{{/if}}
			{{#if event3}} var event3 = 1; document.getElementById("event3").style.backgroundColor = "yellow"; document.getElementById("event3").style.color="purple"; {{else}} var event3 = 0;{{/if}}
			{{#if event4}} var event4 = 1; document.getElementById("event4").style.backgroundColor = "yellow"; document.getElementById("event4").style.color="purple"; {{else}} var event4 = 0;{{/if}}
			{{#if event5}} var event5 = 1; document.getElementById("event5").style.backgroundColor = "yellow"; document.getElementById("event5").style.color="purple"; {{else}} var event5 = 0;{{/if}}
			{{#if event6}} var event6 = 1; document.getElementById("event6").style.backgroundColor = "yellow"; document.getElementById("event6").style.color="purple"; {{else}} var event6 = 0;{{/if}}
			{{#if event7}} var event7 = 1; document.getElementById("event7").style.backgroundColor = "yellow"; document.getElementById("event7").style.color="purple"; {{else}} var event7 = 0;{{/if}}
			{{#if event8}} var event8 = 1; document.getElementById("event8").style.backgroundColor = "yellow"; document.getElementById("event8").style.color="purple"; {{else}} var event8 = 0;{{/if}}
			{{#if event9}} var event9 = 1; document.getElementById("event9").style.backgroundColor = "yellow"; document.getElementById("event9").style.color="purple"; {{else}} var event9 = 0;{{/if}}
			{{#if event0}} var event10 = 1;document.getElementById("event10").style.backgroundColor = "yellow"; document.getElementById("event10").style.color="purple";  {{else}} var event10 = 0;{{/if}}


			/* We now add event-listeners for all the event tags. */
			document.getElementById("event1").addEventListener("click", function() {
					console.log("asdasd");
				if(event1 == 0) {
					document.getElementById("event1").style.backgroundColor = "yellow";
					document.getElementById("event1").style.color = "purple";
					event1 = 1;
				}
				else {
					document.getElementById("event1").style.backgroundColor = "purple";
					document.getElementById("event1").style.color = "yellow";
					event1 = 0;
				}
			});

			document.getElementById("event2").addEventListener("click", function() {
				if(event2 == 0) {
					document.getElementById("event2").style.backgroundColor = "yellow";
					document.getElementById("event2").style.color = "purple";
					event2 = 1;
				}
				else {
					document.getElementById("event2").style.backgroundColor = "purple";
					document.getElementById("event2").style.color = "yellow";
					event2 = 0;
				}
			});

			document.getElementById("event3").addEventListener("click", function() {
				if(event3 == 0) {
					document.getElementById("event3").style.backgroundColor = "yellow";
					document.getElementById("event3").style.color = "purple";
					event3 = 1;
				}
				else {
					document.getElementById("event3").style.backgroundColor = "purple";
					document.getElementById("event3").style.color = "yellow";
					event3 = 0;
				}
			});

			document.getElementById("event4").addEventListener("click", function() {
				if(event4 == 0) {
					document.getElementById("event4").style.backgroundColor = "yellow";
					document.getElementById("event4").style.color = "purple";
					event4 = 1;
				}
				else {
					document.getElementById("event4").style.backgroundColor = "purple";
					document.getElementById("event4").style.color = "yellow";
					event4 = 0;
				}
			});

			document.getElementById("event5").addEventListener("click", function() {
				if(event5 == 0) {
					document.getElementById("event5").style.backgroundColor = "yellow";
					document.getElementById("event5").style.color = "purple";
					event5 = 1;
				}
				else {
					document.getElementById("event5").style.backgroundColor = "purple";
					document.getElementById("event5").style.color = "yellow";
					event5 = 0;
				}
			});

			document.getElementById("event6").addEventListener("click", function() {
				if(event6 == 0) {
					document.getElementById("event6").style.backgroundColor = "yellow";
					document.getElementById("event6").style.color = "purple";
					event6 = 1;
				}
				else {
					document.getElementById("event6").style.backgroundColor = "purple";
					document.getElementById("event6").style.color = "yellow";
					event6 = 0;
				}
			});

			document.getElementById("event7").addEventListener("click", function() {
				if(event7 == 0) {
					document.getElementById("event7").style.backgroundColor = "yellow";
					document.getElementById("event7").style.color = "purple";
					event7 = 1;
				}
				else {
					document.getElementById("event7").style.backgroundColor = "purple";
					document.getElementById("event7").style.color = "yellow";
					event7 = 0;
				}
			});

			document.getElementById("event8").addEventListener("click", function() {
				if(event8 == 0) {
					document.getElementById("event8").style.backgroundColor = "yellow";
					document.getElementById("event8").style.color = "purple";
					event8 = 1;
				}
				else {
					document.getElementById("event8").style.backgroundColor = "purple";
					document.getElementById("event8").style.color = "yellow";
					event8 = 0;
				}
			});

			document.getElementById("event9").addEventListener("click", function() {
				if(event9 == 0) {
					document.getElementById("event9").style.backgroundColor = "yellow";
					document.getElementById("event9").style.color = "purple";
					event9 = 1;
				}
				else {
					document.getElementById("event9").style.backgroundColor = "purple";
					document.getElementById("event9").style.color = "yellow";
					event9 = 0;
				}
			});

			document.getElementById("event10").addEventListener("click", function() {
				if(event10 == 0) {
					document.getElementById("event10").style.backgroundColor = "yellow";
					document.getElementById("event10").style.color = "purple";
					event10 = 1;
				}
				else {
					document.getElementById("event10").style.backgroundColor = "purple";
					document.getElementById("event10").style.color = "yellow";
					event10 = 0;
				}
			});

			/* We now add the event-listener for the form button. */
			document.getElementById("add").addEventListener("click", function() {
				/* We construct a string based on the values of the events. */
				var str = "ev1="+event1+"&ev2="+event2+"&ev3="+event3+"&ev4="+event4+"&ev5="+event5+"&ev6="+event6+"&ev7="+event7+"&ev8="+event8+"&ev9="+event9+"&ev10="+event10;
				console.log('')
				/* We then call the AJAX function. */
				updateEventsInDatabase(str);
			});

			/* The function which handles the AJAX request. It takes in the argument string and sends it over. */
			function updateEventsInDatabase(argumentString) {

				console.log(argumentString);
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						//window.location.href=homeURL; 
						console.log(argumentString);

					}
				};
				xhttp.open("POST", "/events/add?"+argumentString, true);
				xhttp.send();

			}			
		</script>

	</body>

</html>
