<div class="col-md-6">
    <div class="card site">
        <a href="http://167.71.236.238/{{teamId}}/index.html"><img src="/resources/images/polling/{{teamId}}/Screenshot.png" class="card-img-top"></a>
        <div class="card-body">
            
            <h5 class="card-title">{{title}}</h5>
            
            <p class="card-text">by : {{teamname}}</p>

            <div class="site-actions">
                    <a href="{{viewSite}}" class="btn site-link">View Site</a>
                {{#if isAuthenticated}}
                    <button value="{{value}}" class="vote btn site-vote">Vote <i class="far fa-heart"></i><i class="fas fa-heart"></i></button>
                {{else}}
                    <a href="/login"><button class="btn site-vote"> Vote <i class="far fa-heart"></i><i class="fas fa-heart"></i></button></a>
                {{/if}}

                
            </div><!-- .site-actions -->
        </div>
    </div><!-- .site -->
</div><!-- .col-md-6 -->