			
<form id='register-form' autocomplete="on" action="/register" method="POST">
    <input  type="text" id="name" placeholder="Name" class='home-links form-input' name="student[name]" {{#if name}}value="{{name}}"{{/if}}>
    <input  type="email" class='home-links form-input' placeholder="Email" name="student[email]" {{#if email}}value="{{email}}"{{/if}}>
    
    <br>
    
    <input  type="number" class='home-links form-input' placeholder="Phone Number" maxlength="10" minlength="10" name="student[number]" {{#if number}}value="{{number}}"{{/if}}>
    <input  type="number" id="year" placeholder="Year" name="student[year]" class="home-links form-input end" {{#if year}}value="{{year}}"{{/if}}>
    
    <br>

    <input  type="text" placeholder="College" class='home-links form-input long' name="student[college]" {{#if college}}value="{{college}}"{{/if}}>
    <br>


    <input  type="password" placeholder="Password" class="home-links form-input" name="student[password]" {{#if password}}value="{{password}}"{{/if}}>
    <input  type="password" placeholder="Confirm Password" class="home-links form-input end"  name="student[confirmPassword]" {{#if password}}value="{{password}}"{{/if}}>
    <br>

    <button class='home-links submit-butt'>Submit</button>
    
</form>

